* {
  box-sizing: border-box;
}

body {
  background-color: green;
}

.container {
  width: 100%;
  height: 100vh;
  padding: 4rem;
  position: relative;
}

.car {
  width: 12rem;
  height: 6rem;
  position: absolute;
}

.car.east {
  transform: rotate(0deg);
}

.car.south {
  transform: rotate(90deg);
}

.car.west {
  transform: rotate(180deg);
}

.car.north {
  transform: rotate(270deg);
}
